.defaultoperatorstatus {
  display:none !important;
}

.activeoperatorstatus {
  display:block;
  fill: #20AA50 !important;
  background: #20AA50;
}

.awayoperatorstatus {
  display:block;
  fill:#585B73 !important;
  background: #20AA50;
 
}

.disconnectedoperatorstatus {
  display:none;
}

.offlineoperatorstatus {
  display:none;
}